DOMAIN_NAME=mzhou.42.fr
VOLUME_DIR=/home/mzhou/data
MARIADB_DATABASE=inception_database

#mariadb user for wordpress
MARIADB_USER=maria

#wordpress
WP_USER=guts
WP_ADMIN_USER=griffith
WP_TITLE=mzhou
WP_ADMIN_EMAIL=mzhou@student.42.fr
WP_USER_EMAIL=mizhouis@gmail.com
